<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>01 layout</title>
<style>
    * {
        margin: 0;
    }
    header {
        background: #bcb1b3;
        height: 100px;
    }
    aside {
        background: #dec8c1;
        height: 500px;
        width: 50%;
        float: left;
    }
    main {
        float: right;
        width: 50%;
        background: #efdbd4;
        height: 500px;
    }
    footer {
        clear: both;
        height: 100px;
        background: #bcb1b3;
    }
</style>
</head>
<body>

    <header>
        <h1>header</h1>
    </header>
    <aside>
        <h1>side</h1>
    </aside>
    <main>
        <h1>main</h1>
    </main>
    <footer>
        <h1>footer</h1>
    </footer>

</body> 
</html>