@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
    /* 1rem = 10px */
}
body {
    font-size: 1.4rem;
    /* 14px */
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
    vertical-align: top;
}
/* layout */
.inner {
    max-width: 1140px;
    margin: 0 auto;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
/* grid-system */
.l-col-1-12 { width: 8.33333333%; }
.l-col-2-12 { width: 16.66666667%; }
.l-col-3-12 { width: 25%; }
.l-col-4-12 { width: 33.33333333%; }
.l-col-5-12 { width: 41.66666667%; }
.l-col-6-12 { width: 50%; }
.l-col-7-12 { width: 58.33333333%; }
.l-col-8-12 { width: 66.66666667%; }
.l-col-9-12 { width: 75%; }
.l-col-10-12 { width: 83.33333333%; }
.l-col-11-12 { width: 91.66666667%; }
.l-col-12-12 { width: 100%;}

header {
    background: url(./netflix-clone/img/netflix-bg.jpg);
    padding-top: 10%;
}
.logo {
    color: red;
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 1;
    margin-top: -5rem;
}
.l-row {
    border: 1px solid #000;
}
.l-col {
    float: left;
}
.l-col .cover {
    padding-top: 100%;
    height: 0;
    position: relative;
    margin: 1rem;
    background: coral;
    /* overflow: hidden; */
}
.movie-photo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
}
.movie-photo img {
    width: 100%;
    height: 100%;
}
.movie-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 50%;
    padding: 1rem;
}
.movie-content p {
    overflow: hidden;
    line-height: 1.2;
    height: 6em;
}

/* responsive tablet */
@media (max-width: 768px) {
    .l-col-tablet-1-12 { width: 8.33333333%; }
    .l-col-tablet-2-12 { width: 16.66666667%; }
    .l-col-tablet-3-12 { width: 25%; }
    .l-col-tablet-4-12 { width: 33.33333333%; }
    .l-col-tablet-5-12 { width: 41.66666667%; }
    .l-col-tablet-6-12 { width: 50%; }
    .l-col-tablet-7-12 { width: 58.33333333%; }
    .l-col-tablet-8-12 { width: 66.66666667%; }
    .l-col-tablet-9-12 { width: 75%; }
    .l-col-tablet-10-12 { width: 83.33333333%; }
    .l-col-tablet-11-12 { width: 91.66666667%; }
    .l-col-tablet-12-12 { width: 100%;}
}
/* responsive mobile */
@media (max-width: 480px) {
    .l-col-mobile-1-12 { width: 8.33333333%; }
    .l-col-mobile-2-12 { width: 16.66666667%; }
    .l-col-mobile-3-12 { width: 25%; }
    .l-col-mobile-4-12 { width: 33.33333333%; }
    .l-col-mobile-5-12 { width: 41.66666667%; }
    .l-col-mobile-6-12 { width: 50%; }
    .l-col-mobile-7-12 { width: 58.33333333%; }
    .l-col-mobile-8-12 { width: 66.66666667%; }
    .l-col-mobile-9-12 { width: 75%; }
    .l-col-mobile-10-12 { width: 83.33333333%; }
    .l-col-mobile-11-12 { width: 91.66666667%; }
    .l-col-mobile-12-12 { width: 100%;}
}